
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    background-image: url(./image/home_illustriation1_d-11.jpg);
    font-family: "Roboto", sans-serif;

    background-size: 50%;
    background-position: center;
}

.residenti {
    text-decoration: none;
}

.roam-roam {
    text-decoration: none;
}


.country {
    height: 120vh;
    background: linear-gradient(180deg, transparent 50%, #080808) no-repeat;
    object-fit: cover;
    overflow: hidden;
   
}

.starlink-two a {
   padding: 0rem 0.3rem;
   font-weight: 800;
   font-size: 0.8rem;
}

.business {
    text-decoration: none;
}

.high {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 57vw;
   
}

.speed-internet {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-top: 0;
    /* margin-top: 2.5rem; */
    padding-top: 5rem;
    background: url(./image/home_c_hero_d-one.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.speed-internet-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
     background: linear-gradient(180deg, transparent 50%, #080808) no-repeat;
}

.high h2 {
    font-size: 4rem;
    color: white;
    padding: 0.5rem 0rem;
    text-align: center;
    /* font: 700 32px / 39px DIN_Regular, Arial, Verdana, sans-serif; */
}

.high p {
    font-size: 1.5rem;
    /* width: vw; */
    color: white;
}

.speeds {
    font-size: 1.3rem;
    font-weight: 800;
}

.high a {
    display: flex;
    font-size: 0.6rem;
    font-weight: 700;
    padding: 1rem 0rem;
    color: white;
    text-decoration: none;
   
}


.residential-roam {
    display: flex;
    flex-direction: row;
    width: 82%;
    padding: 3rem 0rem;
    color: white;
}

.residential {
    width: 50%;
    border-radius: 5px;
    padding: 1rem 2rem 3rem 2rem;
    margin: 0.5rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.050980392156862744);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     border: 1px solid rgba(255, 255, 255, 0.3) ;
}

.residential h3 {
    font-size: 1.7rem;
    padding: 1rem 0rem;
}

.residential p {
    font-size: 1.2rem;
    padding: 0.3rem 0rem;
}

.residential a {
    font-size: 0.8rem;
    text-decoration: none;
    
}

.order-learn {
    width: 100%;
    display: flex;
}

.order  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-weight: 600;
    color: black;
    background: white;
    border-radius: 5px;
    border: 1px solid;
    padding: 0.8em 0em;
}

.order a {
    color: black;
}

.learn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-weight: 600;
    background:  transparent;
    border-radius: 5px;
    border: 1px solid;
    margin: 0em 0.5em;
}

.learn a {
    color: white;
}

.starting {
    font-weight: 600;
    margin-bottom: 1rem;
}

.businesses-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
    color: white;
    padding: 13rem 6.5rem;
}

.businesses-two h2 {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.businesses-two p {
    padding: 1rem 0rem;
    font-size: 1.2rem;
    text-align: center;
}

.learn-more {
    font-size: 0.6rem;
    font-weight: bolder;
}

.connectivity {
    height: 130vh;
    width: 100%;
    color: white;
    background: url(./image/home_c_feature1_d-replace.jpg);
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    object-fit: cover;
}

.connectivity-two {
    display: flex;
    width: 33rem;
    flex-direction: column;
    align-items: start;
    padding: 10rem 0rem 3rem 2rem;
}

.connectivity-two h3 {
   font-size: 2.1rem;
   margin-bottom: 1rem;
}

.connectivity-two p {
    line-height: 1.3;
 }



.engineered {
    /* height: 120vh; */
    width: 100%;
    color: white;
    background: url(./image/home_feature3_d-last-big.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.engineered-two {
    display: flex;
    flex-direction: column;
    padding: 4em 1em 40em 2em;
    width: 45%;
}

.engineered-two h3 {
    font-size: 2.2rem;
    padding: 0.5rem 0rem;
}

.engineered-two p {
    font-size: 1rem;
    padding: 0.5rem 0rem;
    line-height: 1.5;
}

.engineered-two a {
    color: white;
    font-size: 0.6rem;
    font-weight: 800;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border: 1px solid;
    width: fit-content;
}





 @media (max-width: 1025px) {

    .high {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
       
    }
    
    .speed-internet {

        height: 100vh;
        width: 100%;
        padding-top: 4.5rem;
    }

    .country {
        height: 140vh;
    }
    
    .high h2 {
        font-size: 3.7rem;
        padding: 0.3rem 0rem;
    }
    
    .high p {
        font-size: 1.3rem;
    }

    .residential-roam {
        width: 95%;
    }
    
    .residential {
        padding: 1rem 2rem 3rem 2rem;
    }
    
    .residential h3 {
        font-size: 1.5rem;
    }
    
    .residential p {
        font-size: 1rem;
    }
    
    .residential a {
        font-size: 0.7rem;
    }
    
    .businesses-two h2 {
        font-size: 2.8rem;
        
    }
    
    .businesses-two p {
        font-size: 1rem;
    }
    
    .learn-more {
        font-size: 0.7rem;
    }

    .businesses-two {
        padding: 7rem 4rem;
    }

    .engineered-two {
        width: 50%;
    }
    
 }


 @media (max-width: 1440px) {
    .speed-internet {
        padding-top: 7rem;
    }
 }

 @media (max-width: 768px) {

    /* .roam {
        display: none;
    } */

    .personal {
        display: none;
    }

    .business {
        display: none;
    }

    /* .high  {
        width: 90vw;
    } */

    .high h2  {
        font-size: 3em;
    }

    .high p  {
        font-size: 1em;
    }

    /* .starlink {
        padding: 0rem 1rem;
    } */

    .residential-roam {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0rem;
    }

    .speed-internet {
        background: url(./image/home_c_hero_m-smallbg.webp);
        background-size:cover ;
        background-position: center;
        background-repeat: no-repeat;
    }

    .country {
        height: 175vh;
    }
    
    .residential {
        width: 97%;
        padding: 1rem 0rem 3rem 1rem;
    }
    
    .order  {
        width: 48%;
        /* padding: 0.7rem 9rem; */
    }
    
    .learn {
        width: 48%;
        /* padding: 0.7rem 8rem; */
    }

    .businesses-two h2 {
        font-size: 2em;
    }

    .connectivity-two {
        width: 100vw;
        padding: 5rem 0rem 3rem 2rem;
    }
    
    .connectivity-two h3 {
       font-size: 2.1rem;
       margin-bottom: 1rem;
    }
    
    .connectivity-two p {
        line-height: 1.3;
     }

     

    .engineered {
        /* height: 120vh; */
        width: 100%;
        background: url(./image/home_feature3_m-last-small.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        margin-top: 4rem;

    }
    
    .engineered-two {
        padding: 3em 1em 40em 2em;
        width: 100%;
    }
    
    .engineered-two h3 {
        font-size: 2.2rem;
        padding: 0.5rem 0rem;
    }
    
    .engineered-two p {
        font-size: 1rem;
        padding: 1rem 0rem;
    }
    
    .engineered-two a {
        padding: 0.7rem 1rem;
    }

    
 

    
 }


 @media (max-width: 426px) {

    .speed-internet {
        height: 80vh;
        padding-top: 5rem;
    }

    .country {
        height: 130vh;
    }

    .high {
        width: 100vw;
        padding-bottom: 4em;
    }

    .high h2 {
       font-size: 1.7rem;
       line-height: 1;
       font: 700 29px / 30px DIN_Regular, Arial, Verdana, sans-serif;
    }

    .high p {
        font-size: 0.9rem;
     }

     .speeds {
        font-size: 0.8rem;
     }

     .residential-roam {
        width: 90vw;
        padding: 1rem 0rem;
     }

     .residential h3 {
        font-size: 1.2rem;
        padding: 0.6rem 0rem;
    }
    
    .residential p {
        font-size: 0.8rem;
    }
    
    /* .residential a {
        font-size: 0.5rem;
        text-decoration: none;
        
    } */
    
    .order  {
        padding: 0.7rem 2.5rem;
        font-weight: 600;
        color: black;
    }
    
    .learn {
        padding: 0.7rem 2.5rem;
        font-weight: 600;
    }

    .businesses-two {
        /* height: 80vh; */
        text-align: center;
        padding: 8rem 1rem;
    }
    
    .businesses-two h2 {
        font-size: 1.5rem;
        font-weight: 700;
        
    }
    
    .businesses-two p {
        font-size: 0.8em;
        font-weight: 200;
    }

    .connectivity-two {
        padding: 5rem 1rem 3rem 1rem;
    }
    
    .connectivity-two h3 {
       font-size: 1.5rem;
    }
    
    .connectivity-two p {
        font-size: 0.8rem;
     }

     

    .engineered-two {
        padding: 3em 1em 30em 1em;
    }
    
    .engineered-two h3 {
        font-size: 1.5rem;
    }
    
    .engineered-two p {
        font-size: 0.8rem;
    }

    

    /* .starlink {
        height: 12vh;
        padding: 0rem 1rem;
    } */
    
    .star {
        font-size: 1rem;
        font-weight: 600;
    }

    .hamburger {
        width: fit-content;
        height: 13px;
    }

   
    
 }


 @media (max-width: 376px) {
    .order  {
        padding: 0.7rem 1.5rem;
    }
    
    .learn {
        padding: 0.7rem 1.5rem;
    }

    
 }


 @media (max-width: 320px) {
    .order  {
        padding: 0.7rem 1rem;
    }
    
    .learn {
        padding: 0.7rem 1rem;
    }

    
 }