

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


main {
   font-family: "Roboto", sans-serif;
  
   /* background:  #080808 ; */
}


header {
   position: fixed;
}


.month {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 6vh;
   background: white;
}

.month a {
   text-decoration: none;
   color: black;
}



.starlink {
   display: flex;
   position: fixed;
   align-items: center;
   justify-content: space-between;
   /* height: 17vh; */
   width: 100%;
   padding: 2rem 3rem;
   background: rgba(255, 255, 255, 0.10);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(1.6px);
   -webkit-backdrop-filter: blur(1.6px);
   
}

.starlink a {
   color: white;
}

.star {
   text-decoration: none;
   font-size: 1.5rem;
}

.starlink-one {
   display: flex;
}

.roam {
   padding: 0rem 2rem;
}

.roam a {
   padding: 0rem 1rem;
   font-size: 0.9rem;
   font-weight: 800;
}

.hamburger {
   width: 5rem;
   height: 15px;
}

img {
   width: 100%;
   height: 100%;
   /* height: 50vh; */
}

.watch-now {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20vw;
}

.watch {
   width: 7%;
   margin-left: 10px;
}

.online-two {
   display: flex;
   color: white;
   background: #080808;
   margin: 0rem 0rem;
  
}

.get-tow {
   display: flex;
   align-items: center;
   justify-content: center;


   padding: 0rem 0rem;
   width: 50%;
   /* height: 90vh; */
}

.get {
   padding: 4rem 0rem 0rem 4rem;
   width: 50%;
   /* height: 90vh; */
}

.steps h3 {
   font-size: 2rem;
   padding: 0.5rem 0rem;
}

.steps {
   padding: 2rem 0rem 1rem 2rem;
}

.plug {
   padding: 2rem 0rem 1rem 2rem;
}

.plug h3 {
   padding: 0.5rem;
   margin: 0.7rem 0rem;
   font-size: 1.5rem;
   border: 1px solid;
   border-top: none;
   border-bottom: none;
   border-right: none;
}

.requires {
   padding: 2rem 10rem 1rem 2rem;
   line-height: 1.5;
}

.requires a {
   padding: 2rem 1rem 1rem 0rem;
   line-height: 1.5;
   font-size: 0.8rem;
   font-weight: 800;
   text-decoration: none;
   color: white;
}

.download {
   width: 5rem;
   position: absolute;
}

.flexible {
   display: flex;
   width: 100%;
   /* height: 110vh; */

}

.flexible-image {
   width: 50%;
}

.flexible-p {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   width: 50%;
   padding: 0rem 9rem 0rem 3rem;
}

.flexible-p h2 {
   font-size: 2.2rem;
   padding: 0.5rem 0rem;
   line-height: 1.5;
}

.here {
   font-weight: 800;
}


.customers {
   display: flex;
   flex-direction: column;
   color: white;
   background: #080808;
   /* margin-top: 15rem; */
   padding: 15rem 1rem 5rem 1rem;
}

.customers h3 {
   padding: 3rem 0rem;
   font-weight: 500;
}

.latency {
   display: flex;
   width: 100%;
}

.low-latency {
   width: 34%;
   border: 1px solid;
   padding: 1rem 3rem;
   border-top: none;
   border-bottom: none;
   border-right: none;
}

.low-latency p {
   line-height: 1.3;
   padding: 1rem 0rem;
   font-size: 0.8rem;
}

.low-latency h2 {
   font-size: 1.7rem;
}







.interested {
    width: 40%;
    display: flex;
    justify-self: flex-end;
   
 }


 .form-order {
    display: flex;
    align-items: center;
    justify-content: center;
    
 }



 .address {
    padding-top: 5em;
     padding-bottom: 2rem;
     color: white;
 }
 
 .select {
     width: 25rem;
     margin-right: 1rem;
     background: hsla(0, 0%, 100%, .15);
     caret-color: #fff;
     border: 2px solid hsla(0, 0%, 100%, .6);
     border-radius: 4px;
     padding: 0 40px 0 26px;
     line-height: 50px;
     color: #fff;
     font-size: 100%;
     font-weight: 700;
     height: 50px;
     flex-grow: 1;
 }
 
 .order-now {
     text-transform: uppercase;
     font: 12px / 18px Roboto, Helvetica, Arial, Verdana, sans-serif;
     font-weight: 700;
     min-height: 50px;
     border-radius: 10px;
     border-radius: 4px;
     padding: 2px 4rem;
     box-sizing: border-box;
 }

   button {
     color: black;
 }

 .trial {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* height: 110vh; */
   background: #080808;
   width: 100%;
   color: white;
   padding: 4em 0em 15em 0em;
}

.trial h2 {
  font-size: 3rem;
}

.trial p {
   font-size: 1.5rem;
}

.trial a {
   font-size: 0.8rem;
   font-weight: 700;
   text-decoration: none;
   color: white;
}

input {
   margin: 0.5rem 0rem;
}


.foot-careers-division {
   background: #080808;
   display: flex;
   width: 100%;
   color: white;
}

.careers-division {
   display: flex;
   width: 60%;
   flex-direction: column;
   padding: 0rem 1rem;
   margin-bottom: 0.7rem;
}

.careers a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 20px;
  padding: 0rem 0rem 1rem 1rem;
}

.careers {
   display: flex;
 }

.interested {
   width: 40%;
   display: flex;
   justify-self: flex-end;
}

.vision {
   font-size: 0.8rem;
   display: flex;
}

.vision p {
  margin: 0rem 0.5rem;
}

.x {
   width: 20px;
   height: 20px;
   padding: 0.1rem ;

}

.staying p {
   font-size: 0.7rem;
}

.foot-form p{
   font-size: 0.8rem;
}

.foot-form a{
   text-decoration: none;
   color: white;
}

.foot-form {
   margin: 0rem 0em 0em 0.7em;
}

.form-form {
   
   display: flex;
}

.sign-up {
   background: #080808;
   color: white;
   font-size: 0.6rem;
   font-weight: 800;
   border: none;
}

.input-email {
   color: white;
   background: #080808;
   border: 2px solid white;
   border-right: none;
   border-left: none;
   border-top: none;
   height: 1.2rem;
   margin-left: 3px;
}


 @media (max-width: 1025px) {


   .get {
      padding: 0rem 0rem 0rem 1rem;
  }

  .steps {
   padding: 2rem 0rem 1rem 0rem;
}

.plug {
   padding: 2rem 0rem 1rem 0rem;
}

  .plug h3 {
      padding: 0.2rem;
      font-size: 1.7rem;
      border-left: 0.1px solid;
  }

  .requires {
      padding: 2rem 2rem 1rem 0rem;
      line-height: 1.5;
  }

  .requires p {
     margin-bottom: 1rem;
  }

  .flexible-p {
   padding: 0rem 0rem 0rem 2rem;
}

.flexible-p h2 {
   font-size: 2.2rem;
   padding: 0.7rem 0rem;
}

.customers {
   margin: 0;
}

.here {
   font-weight: 700;
}

.address {
      padding-top: 5rem;
       padding-bottom: 2rem;
   }

  .trial {
   padding: 4em 0em 10em 0em;
  }

  
 }

 @media (max-width: 768px) {

   .starlink {
      padding: 1em 2em;
   }

   .hamburger {
      width: 3em;
  }

   .online-two {
      display: flex;
      flex-direction: column;
  }

  .get-tow {
      padding: 0rem 0rem;
      width: 100%;
      height: 120vh;
  }
  
  .get {
      padding: 0rem 0rem 0rem 1rem;
      width: 100%;
      height: 90vh;
  }

  .flexible {
   flex-direction: column-reverse;
   width: 100%;
   height: fit-content;

}

.flexible-image {
   width: 100%;
   padding: 0rem 2rem;
}

.flexible-p {
   font-size: 0.9rem;
   width: 100%;
   padding: 0rem 5rem 0rem 2rem;
}

.customers h3 {
   padding: 2rem 1rem;
   font-weight: 400;
}

.latency {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.low-latency {
   width: 100%;
   border: 1px solid;
   padding: 2rem 1rem;
   border: none;
}

.low-latency p {
   font-size: 0.9rem;
}

   .form-order {
      flex-direction: column;
   }

   .select {
      width: 95vw;
      margin-right: 0rem;
  }

  .order-now {
      width: 95vw;
      margin-top: 1rem;
  }

  .interested {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-self: flex-end;
     
   }

   .careers-division {
      width: 100%;
   }

  .foot-careers-division {
      align-items: center;
      flex-direction: column-reverse;
      width: 100vw;
      /* height: 100vh; */
   }

   .staying {
      display: flex;
      justify-content: center;
      width: 100vw;
      margin: 2rem 0rem;
   }

   .foot-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
   }

   .input-email {
      height: 1.2rem;
      margin-left: 3px;
      width: 83vw;
      margin-bottom: 0.5rem;
   }

   .sign-up {
      font-size: 0.7rem;
      padding: 0rem 1rem;
   }

   .careers {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .vision {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .vision p{
     margin-bottom: 1rem;
   }

   .vision a{
      margin-bottom: 1rem;
    }

 }


 @media (max-width: 426px) {

   .starlink {
      padding: 1rem 1rem;
   }

   .star {
      font-size: 0.9em;
   }

   .roam a {
      font-size: 0.4rem;
   }


   .get {
      padding: 0rem 2rem 0rem 1rem;
      width: 100%;
      height: 80vh;
  }

  .get-tow {
   padding: 0rem 0rem;
   width: 100%;
   height: 80vh;
}
  
  .steps h3 {
      font-size: 1.3rem;
      padding: 1rem 0rem;
  }

  .steps p {
      font-size: 0.8rem;
  }
  
  .steps {
      padding: 2rem 0rem 1rem 0rem;
  }
  
  .plug {
      padding: 2rem 0rem 1rem 0rem;
  }
  
  .plug h3 {
      margin: 0.9rem 0rem;
      font-size: 1.3rem;
  }
  
  .requires {
      padding: 1rem 1rem 1rem 0rem;
  }

  .requires p {
      font-size: 0.8rem;
  }
  
  .requires a {
      font-size: 0.7rem;
  }

  .flexible {
   margin-bottom: 3rem;
}

  .flexible-p {
      width: 100%;
      padding: 2rem 1.3rem 0rem 1rem;
  }

  .flexible-image {
   width: 100%;
   padding: 0rem 1rem;
}
  
  .flexible-p p {
      font-size: 0.8rem;
  }

  .flexible-p h2 {
      font-size: 1.5rem;
  }
  
  .here {
      font-weight: 700;
  }

  .customers h3 {
   padding: 1rem 0rem;
   font-size: 1rem;
}

.low-latency {
   padding: 2rem 0rem;
}

.low-latency h2 {
   font-size: 1.5rem;
}

.low-latency p {
   font-size: 0.8rem;
}

.low-latency a {
   font-size: 0.8rem;
}


  .trial {
   padding: 4em 0em 4em 0em;
}

.trial h2 {
   font-size: 1.7rem;
}

.trial p {
    font-size: 0.9rem;
    padding: 0.5rem;
 }

 .trial a {
    font-size: 0.8rem;
 }

 .select {
   width: 90vw;
   margin-right: 0rem;
}

.order-now {
   width: 90vw;
   margin-top: 0.7rem;
}

.staying {
   font-size: 0.7rem;
}

.input-email {
   width: 68vw;
}

.sign-up {
   font-size: 0.6em;
   padding: 0rem 0.5rem;
}

.foot-form p {
   font-size: 0.7rem;
}

.watch-now {
   width: 30vw;
}

.watch {
   width: 12%;
}


 }


 